<style>
  .single-card, .two-card {
    background-color: #cccccc;
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    padding: 1rem;
  }
  .single-card {
    height: 400px;
  }
  .two-card {
    height: 195px;
  }
  /* .single-card::after, .two-card::after {
    content: '';
    display: block;
  }
  .single-card::after{
    padding-top: 60%;
  }
  .two-card::after {
    padding-top: 29.5%;
  }
  .single-card img, .two-card img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
  } */
  .content-card {
    background: #fff;
  }

  .content-card p {
      color: #4bcf84;
      padding: 1rem;
      text-align: center;
      margin: 0;
  }

  .content-card h3 {
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #126936;
      color: #fff;
      padding: 1rem;
      margin: 0;
  }
  .single-card .content-card, .two-card .content-card {
    /* position: absolute; */
    max-width: 200px;
  }
  .two-card-wrap + .two-card-wrap {
    margin-top: 1rem;
  }
</style>

<div class="container">
  <div class="row">
      <div class="col-md-6">
        {%- for block in section.blocks -%}
          {% if  block.type == 'product-item' %}
            {% if  block.settings.two_card_opation != true %}
            {% assign bg_image = block.settings.one_card_image | img_url: '500x500' %}
            {% assign p_horizontal = block.settings.popover_horizontal_position %}
            {% assign p_vertical = block.settings.popover_vertical_position %}
              <a href="{{block.settings.one_item_url}}" class="single-card" 
              style="background-image:url( '{{ bg_image}}' ); justify-content: {{ p_horizontal }} ;align-items: {{ p_vertical }};">
                
                <div class="content-card">
                  <p>{{ block.settings.popover_text}}</p>
                  <h3>{{ block.settings.card_heading }}</h3>
                </div>
              </a>
            {% endif %}
          {% endif %}
        {%- endfor -%}
      </div>

      <div class="col-md-6">
        <div class="row">
          {%- for block in section.blocks -%}
            {% if  block.type == 'product-item' %}
              {% if  block.settings.two_card_opation %}
                <div class="col-md-12 two-card-wrap">
                  {% assign bg_image = block.settings.one_card_image | img_url: '250x250' %}
                  {% assign p_horizontal = block.settings.popover_horizontal_position %}
                  {% assign p_vertical = block.settings.popover_vertical_position %}
                  <a href="{{block.settings.one_item_url}}" class="two-card" 
                  style="background-image:url( {{ bg_image }} ); 
                  justify-content: {{ p_horizontal }} ;align-items: {{ p_vertical }};">
                    <div class="content-card">
                      <p>{{ block.settings.popover_text}}</p>
                      <h3>{{ block.settings.card_heading }}</h3>
                    </div>
                  </a>
                </div>
              {% endif %}
            {% endif %}
          {%- endfor -%}
        </div>
      </div>
  </div>
</div>



{% schema %}
{
  "name": "Grid Item",
  "tag": "section",
  "class": "grid-item-section",
  "settings": [
  ],
  "blocks": [
    {
      "type": "product-item",
      "name": "Product Item",
      "settings": [
        {
         "type": "checkbox",
         "id": "two_card_opation",
         "label": "Show Two Card" 
        },
        {
          "type": "image_picker",
          "id": "one_card_image",
          "label": "Add Card Image"
        },
        {
          "type": "text",
          "id": "card_heading",
          "label": "Card Heading"
        },
        {
        "type": "textarea",
        "id": "popover_text",
        "label": "Card Content"
        },
        {
        "type": "url",
        "id": "one_item_url",
        "label": "Product detaile Page link"
        },
        {
          "type": "select",
          "id": "popover_horizontal_position",
          "label": "Card horizontal Position",
          "options": [
            {
              "value": "flex-start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Right"
            }
          ],
          "default": "flex-start"
        },
        {
          "type": "select",
          "id": "popover_vertical_position",
          "label": "Card vertical Position",
          "options": [
            {
              "value": "flex-start",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Bottom"
            }
          ],
          "default": "flex-start"
        }

      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name"
    }
  ]
}
{% endschema %}
